.ClimateDataUpdateForm {
    background-color: #F4F4F4;
}

.ClimateDataUpdateForm-container {
    background-color: white;
    padding: 24px;
    margin: auto;
    border-radius: 18px;
    width: 821px;
    height: 764px;
}

.ClimateDataUpdateForm-line {
    background-color: #DEE2E6;
    height: 1px;
    width: 100%;
}

.ClimateDataUpdateForm-buttonContainer {
    height: 77px;
    background-color: white;
    margin-top: 10px;
    padding: 0px, 60px, 0px, 60px;
    border-top: 1px;
    border-color: #DEE2E6;
}

.ClimateDataUpdateForm-buttonContainer-button {
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 100px;
    background-color: #505FEE;
    padding: 10px, 24px, 10px, 24px;
    margin: 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 24px;
}

